@use '../util/' as *;

.header{
  background-image: url("/images/desktop/image-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
}

.header-nav{
  display: flex;
  align-items: center;
  padding: 1.2rem;
  justify-content: space-between;
}

.header-nav-nav{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: rem(20);

}
.header-nav-nav li{
  margin-right: 2rem;
}
.header-nav-nav-bright{
  background-color: white;
  padding: 1rem 1.2rem;
  color: black;
  border-radius: 2rem;
  font-family: var(--font-fraunces);
  font-size: 1rem;
  transition: all .5s;

}
.header-nav-nav-bright:hover{
  color: white;
  background-color: rgba(255, 255, 255, 0.26);
  transition: all .5s;
}

.header-title{
  text-align: center;
  font-family: var(--font-fraunces);
  padding: 1.7rem;
}
.header-title h1{
  letter-spacing: 6px;
  color: white;
}
.header-arrow{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 3rem;
  animation: MoveUpDown 4s linear infinite;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 40px;
  }
}



.hamburger-menu{
  display: none;
  position: absolute;
  top: -100%;
  right: 38%;
  transform: translate(0%, 50%);
  background-color: white;
  color: var(--grayish-blue);
  max-width: max-content;
  min-width: min-content;
  height: 30vh;
  font-size: 1.2rem;
  z-index: 999;
}
.hamburger-menu ul{
  width: 80vw;
  text-align: center;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 1.5rem;
}
.hamburger-menu ul li{
  list-style: none;
  margin: 1rem;
  padding: 1rem;

}
.hamburger-menu ul li a{
  color: var(--grayish-blue);
}

.header-nav-hamburger{
  display: none;
}

@media only screen and (max-width: 800px) {
  .header-nav-nav{
    font-size: rem(15);
  }
  .header-nav-nav-bright{
    font-size: rem(13);
  }
  .header-nav-nav{
    display: none;
  }
  .header-nav-hamburger{
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .header-nav-hamburger-hamb{
    width: 70px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-nav-hamburger-hamb span{
    width: 45px;
    height: 5px;
    background-color: white;
    margin: .2rem;
  }

  .hamburger-menu ul #contact-hamburger{
    background-color: var(--yellow);
    border-radius: 2rem;
    margin-bottom: 3rem;

  }
  .hamburger-menu ul #contact-hamburger a{
    color: black;
    font-family: var(--font-fraunces);
    padding: .4rem;
  }

}